body {
  background: #F2F2F2;
}
.rectangle-div {
  position: absolute;
  width: 513px;
  height: 990px;
  background: #FFFFFF;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details-div {
  position: absolute;
  width: 436px;
  height: 255px;
  background: #FFFFFF;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin: auto;

  font-family:  sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140.62%;
  /* identical to box height, or 22px */
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: #000000;
}

.name-input {
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin: auto;
  width: 80%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  border-radius: 5px;
}
.name-input::placeholder {

  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: rgba(0, 0, 0, 0.5);
}

.details-textarea {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  margin: auto;
  width: 81%;
  height: 50%;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  /* identical to box height, or 28px */
  color: rgba(0, 0, 0, 0.5);
}
.details-textarea::placeholder {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: rgba(0, 0, 0, 0.5);
}

.dependency-div {
  position: absolute;
  width: 300px;
  height: 246px;
  left: 260px;
  top: 44%;
  transform: translate(-50%, -50%);

}

.dependency-title{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 26.32%;
  bottom: 61.49%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}
.package {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  border-bottom:  1px solid #CCCCCC;

}

.remove-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid black;
  color: black;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;
}


.remove-button:hover {
  background-color: black;
  color: white;
}

.dependencySearch-input{
  position: absolute;
  left: -28px;
  right: 0;
  top: 66%;
  margin: auto;
  width: 115%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  border-radius: 5px;
}

.packageVersion-title{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 52.32%;
  bottom: 61.49%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140.62%;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;

}

.packageVersion-div{
  position: absolute;
  width: 300px;
  height: 246px;
  left: 260px;
  top: 70%;
  transform: translate(-50%, -50%);
}

.package2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  border-bottom:  1px solid #CCCCCC;
}

/* #rectangle-div .addVersion-button{
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid black;
  color: black;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  margin-right: 10px;

}
#rectangle-div .version-Input{
  position: absolute;
  left: -28px;
  right: 0;
  top: 66%;
  margin: auto;
  width: 115%;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140.62%;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000000;
  border-radius: 5px;

} */
